<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Encrypted text</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h2>Ciphered message: </h2>
        <h4 class="text-break">{{ ciphered }}</h4>
        <br>
        <h2>Encrypted message: </h2>
        <h4 class="text-break">{{ encrypted }}</h4>
        <br>
        <form action="/decrypt" method="POST">
          <input type="hidden" name="decrypt" value="{{decrypted}}">
          <input type="hidden" name="deciph" value="{{deciphered}}">
          <div class="form-group">
            <input class="btn btn-danger btn-lg" type="submit" value="Decrypt">
          </div>
        </form>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
